################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/bin/Debug/net8.0-windows
/.vs
/Client/obj
/APIInterfaces/obj
/APIInterfaces/bin/Debug/net8.0
/MailService/bin
/MailService/obj
/MailService/.env
/APIInterfaces/bin/Debug/net9.0
/APIInterfaces/Properties/PublishProfiles
/Client/bin/Debug/net9.0-windows8.0
/EntityDb/bin/Debug/net8.0
/EntityDb/obj
/CreateDatabaseQuery.sql
/APIInterfaces/bin/Release/net8.0
/DataProcessing/bin/Debug/net8.0
/DataProcessing/obj/Debug
/DataProcessing/obj
/DataProcessing/Properties/PublishProfiles
/DataProcessing/.env
/EntityDb/bin/Debug/net9.0
/MailService/Properties/PublishProfiles
/WebClient/bin/Debug/net9.0
/WebClient/obj
